########################################
# iodev .gitignore
#
# Last updated: 2020-03-19
########################################

build/

# macOS
.DS_Store

# Vi Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
